{% extends "master.html" %}

{% block body %}
    <h1>Fraud Detection Case Study</h1>
    <h3>Group III</h3>

    <ul>
      <li>Vy Nguyen</li>
      <li>Sara Kantor</li>
      <li>Matthew Cohen</li>
      <li>Jesse Yang</li>
      <li>Chyld Medford</li>
    </ul>

    <ul>
      <li>
        <a href = "/presentation">Presentation</a>
      </li>
      <li>
        <a href = "http://52.53.197.242:3000/">Dashboard</a>
      </li>
    </ul>
    
    <img class="img-responsive img-thumbnail" style="width: 50%;" src={{url_for('static', filename='images/words.png')}} />
{% endblock %}
