<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FDCS:G3</title>
    <link href={{url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css')}} rel="stylesheet">
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src={{url_for('static', filename='jquery-3.2.1.min.js')}}></script>
    <script src={{url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js')}}></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
