{% extends "master.html" %}

{% block body %}

    <a href="/"><h4 align="left">Home</h3></a>
  <a href="http://52.53.197.242:3000/"><h4 align="left">Dashboard</h3></a>

    <h2 align = "center">
      Fraud Detection Case Study - Group 3
    </h2>

      <h3>Process Flow</h3>

      <h4>Model Development:</h4>
      <body>
      After some initial time in EDA, we split model development evenly amongst the team.
      This included identifying relationships between columns, initial data engineering tasks, and hunches regarding potential relevancy.<br>
      Each team member took a stab at building a different model. A random forest classifier with class weight balanced, min sample each split of 10, and 1000 trees gave us the best results and also fit our training/prediction tradeoff parameters.<br>
    </body>
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/CRISP-DM_Process_Diagram.png" alt="CrispDM" style="height:350px;" ALIGN="right"/>
      <h5>Final Model Predictor Variables:</h6><br>
      <body>
      1. gts<br>
      2. Event has organization description (engineered)<br>
      3. Where the event has organization name (engineered)<br>
      4. Whether the event has listed the address (engineered)<br>
      5. user age<br>
      6. user type<br>
      7. max ticket price<br>
      8. min ticket price<br>
      9. Total number of tickets the event are selling (engineered)<br>
      10. payout_type<br>
      11. number of previous payouts<br>
    </body>
      <img src="/img/figure_1.png" alt="Feature Importance Graph" style="height:350px;" ALIGN="right"/>
      <h5>Promising features with strong signals left out of the model due to concerns of leakage:</h5><br>
      <body>

      1. Sale duration 1,2 - Event with shorter duration could be a result of it being fraud or it become terminated before ending<br>
      2. num_order - The number of order maybe less due to event being caught being fraud or customer’s innate fraud detection “algorithm” (common sense?)<br>
      3. num of payouts for current event - Either fraudster are eager to without quickly or the event being terminated without having the chance to do payout<br>
      <br>
      *With the need to detect fraud live as soon as event is published, these data may not be obtainable in the future with live fraud detection, or maybe systematically influenced by event being detected as fraud.<br>
    </body>
    <h5>Model Performance</h5>
    <body>
      Accuracy: 0.98<br>
      Precision: 0.94<br>
      Recall: 0.9 <br>
    </body>
    <h4>Web App Development:</h4>
       Architecting the web app involved two separate threads - one to run the web server and one to ping for new data points and predict. Rather than create a threading system, we opted to run each in its own python environment.
       We then built the flask front end with javascript additions and set up the MongoDB predict processes.
    </body>

      <h3>Preprocessing</h3>
      <body>
      Data cleaning steps to select a subset of columns, including:<br>
       - imputing data<br>
       - type conversions<br>
       - adding new features<br>
     </body>
      <h3>Assessment of Model</h3>
      <body>
      - Accuracy<br>
      - Precision<br>
      - Recall
    </body>
      <h3>Validation and Testing</h3>
      <body>
      "The Standards":<br>
       - mailtodel.fit<br>
       - model.predict<br>
       - model.predict_proba<br>
       - Parameter tuning using GridSearchCV

      <h3>Future Steps</h3>
      <body>
       - Creating an ensemble of models<br>
       - Adding user functionality to the dashboard<br>
       - Creating aggregate data summaries and graphics<br>
      </body>
<br>
<br>
<br>


{% endblock %}

{% block scripts %}
{% endblock %}




